{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search an item to craft{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">
  <div id="search-container">
    <form action="{{ url_for('views.craft') }}" method="GET">
      <input type="text" name="query" id="search-input" placeholder="Type the name of the item you want to search..." autocomplete="off">
      <div id="suggestions"></div>
    </form>
  </div>
  <div id="crafting-container">
    <div id="top-container">
      <h1 id="crafted-item-title"></h1>
      <div id="infos-prices">
        <label for="item-price-input">Item price : </label>
        <input type="text" id="item-price-input" />
      </div>
      <div id="final-values-input">
        <label for="item-price-input">Total cost :</label>
        <input type="text" id="total-cost" value="" readonly>

        <label for="item-price-input" id="label-profit">Profit :</label>
        <input type="text" id="profit" value="" readonly>
      </div>
      <div id="buttons-wrapper">
        <button id="add-button" class="styled-button" type="button">+</button>
        <button id="update-button" class="styled-button" type="button">Update</button>
        <button id="insert-data-button" class="styled-button" type="button">Insert Json data</button>
      </div>
    </div>
    
    <div id="crafting-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td><input type="number" pattern="\d*"></td>
          <td></td>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/pages/craft_page.js') }}"></script>
{% endblock %}
